$plant_basic_dark:rgba(130, 132, 136, 0.5);
$plant_basic_light:rgba(208, 217, 238, 0.5);
// $plant_data_dark:rgba(34, 102, 17, 0.702);
// $plant_data_light:rgba(27, 158, 22, 0.6);
$plant_data_dark:rgba(0, 116, 80, 0.5);
$plant_data_light:rgba(7, 185, 128, 0.4);
$plant_strategy_dark:rgba(70, 115, 160, 0.5);
$plant_strategy_light:rgba(182, 201, 247, 0.5)